In [1]:
a
# does not print anything because a number is not defined in a

NameError: name 'a' is not defined

In [2]:
a = 3
# 3 is defined to a

In [3]:
a
# 3 is suppressed because it defines 3 to a

3

In [4]:
"py" + "thon"
# Two or more string literals next to each other are automatically concatenated.

'python'

In [5]:
"py" * 3 + "thon"
# "py" in quotes is suppressed 3 times

'pypypython'

In [6]:
"py" - "py"
# delete "py" in quotes

TypeError: unsupported operand type(s) for -: 'str' and 'str'